.navbar {
  display: flex;
  //flex-direction: row;
  align-items: center;
  //margin-left: ;
  //flex-flow: row nowrap;
}

.button {
  animation: button 6s infinite;
  position: relative;
  display: inline-block;
  padding: 0.5em 3em;
  border: 1px solid #de911e;
  margin: 0 0.3em 0.3em 0;
  border-radius: 20px;
  text-transform: uppercase;
  font-weight: 400;
  color: #de911e;
}

@keyframes button {
  0% {
    top: 0em
  }
  40% {
    top: 0em
  }
  43% {
    top: -0.9em
  }
  46% {
    top: 0em
  }
  48% {
    top: -0.4em
  }
  50% {
    top: 0em
  }
  100% {
    top: 0em;
  }
}
